@import url(style.css);

form {
    width: 200%;
    max-width: 50rem; 
    background-color: var(--white);
    border-radius: 0.8rem;
    padding: 2rem;
    align-items: center;
    box-shadow: 0 0.2rem 0.6rem #e75a7c;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vh;
    padding-top: 40em;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 1.2rem;
    border-radius: 0.4rem;
    border: 1px solid var(--black);
    font-size: 1.6rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    border-color: var(--primary);
}

textarea {
    height: 12rem;
    resize: vertical;
}

button[type="submit"] {
    background-color: var(--primary);
    color: var(--white);
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: var(--secondary);
}