.room-list__section {
    margin-top: 12rem;
    padding-inline: 10rem;
    height: auto;
}

.header-text {
    font-size: 5rem;
}

.room-list__rooms {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 5rem;
    padding-inline: 5rem;
}

.room-list__room-card {
    box-shadow: 0px 0px 18px #888888;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 30px;
    width: 340px;
    margin-bottom: 20px;
}

.room-card__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.room-name {
    font-size: 3.5rem;
    font-weight: bold;
}

.room-price {
    font-size: 3rem;
    font-weight: 100;
}

.room-capacity {
    font-size: 2rem;
    font-weight: 100;
}

.room-list__room-card img {
    width: 320px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 25px;
}

.sorting-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sorting-button {
    background-color: var(--white) !important;
    border: 1px solid var(--black) !important;
    color: var(--black) !important;
    font-size: 16px !important;
    padding-inline: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.sorting-button:hover {
    background-color: rgb(216, 216, 216) !important;
}